* {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

main {
  display: flex;
  /* margin: 20px; */
}

.div {
  margin: 30px;
  margin-top: 10px;
  padding: 10px;
  margin-right: 5px;
}

.div2 {
  /* margin: 30px; */
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 50px;
  margin-bottom: 0px;
}

.para-top {
  font-size: 70px;
  margin-bottom: 250px;
  width: 950px;
}

.para-mid {
  font-size: 35px;
  margin-bottom: 150px;
}

.para-bottom {
  font-size: 22px;
}

button {
  float: right;
  margin-left: 70px;
  border-color: yellow;
  border-width: 5px;
  font-size: 20px;
  align-items: center;
  width: 400px;
}
.button,
p {
  padding: 10px;
}

.div2-top {
  margin-left: 100px;
  margin-bottom: 0px;
}

.div2-mid {
  /* overflow: hidden; */
  width: 800px;
  height: 600px;
  margin-top: 200px;
  /* margin-bottom: 10px; */
  /* align-content: center; */
}

.img-home {
  width: 800px;
  height: 600px;
}

/* about */
.div-about {
  display: flex;
  height: 700px;
  margin: 10px;
  padding: 50px;
  padding-top: 100px;

  /* align-items: ; */
}

.about-1 {
  margin-left: 50px;
}

.about-2 {
  margin-left: 200px;
  margin-top: 80px;
}

.pa1 {
  font-size: 65px;
  padding-bottom: 40px;
}

.pa2 {
  padding-top: 40px;
  font-size: 20px;
}

/* details page and sponsor page has same css*/
.div-details {
  display: flex;
  height: 700px;
  margin: 10px;
  /* padding: 80px; */
  padding: 130px;
  padding-right: 0px;

  /* padding-bottom: 90px; */
}

/* .about {
  float: left;
} */
.details-1 {
  width: 35%;
  padding-top: 250px;
  margin-right: 0px;
}

.p1 {
  font-size: 65px;
}

.details-2 {
  font-size: 20px;
  margin-right: 30px;
  padding-top: 30px;
}

.pd-1 {
  margin-bottom: 100px;
}

.pd-2 {
  margin-bottom: 100px;
}

.details-3 {
  padding-left: 100px;
  width: 100px;
  padding-top: 0px;
}

/* sponsor  */
.ps1 {
  margin-bottom: 20px;
}

